body {
    font-family: "Bebas Neue", sans-serif;
    background-color: #1b1b1b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
}

.fundo {
    display: flex;
    background: linear-gradient(
        90deg,
        rgb(57, 48, 240) 0%,
        rgb(21, 21, 175) 35%,
        rgb(13, 7, 128) 100%
    );
    background-size: 200% 100%;
    width: 980px;
    padding: -3px;
    border-radius: 70px;
    transition: transform 1.6s ease-in-out;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    animation: background-animation 2s linear infinite, border-radius-animation 2s alternate infinite, card-animation 2s alternate infinite;
    
}
@keyframes background-animation {
    0% {
        background-position: 100% 0;
    }
    50% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 0;
    }
}

img {
    border-radius: 70px 0px 0px 70px;
    width: 490px;
    height: 490px;
}

button{
    display: flex;
    background-color: #ffffff;
    color: #000000;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    margin: 10px; /* Espaço entre os botões */

}

button:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1); 
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #f06, 0 0 70px #f06, 0 0 80px #f06, 0 0 100px #f06;
}

nav{
    display: flexbox;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

nav ul li{
    list-style-type: none;
    display: inline-flex;
    padding: 0px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: white;
    text-shadow: #fff 1px;
    transform: scale(1.2);
    transition: .3s;
    text-shadow: 0 0 9px #FFF, 0 0 18px #FFF, 0 0 27px #FFF, 0 0 36px #FFF, 0 0 45px #FFF, 0 0 54px #FFF, 0 0 63px #FFF;
}

h1{
    font-size: 25px;
    color: white;
}
h2{
    font-size: 20px;
    color: white;
}

i{
    display: flexbox;
    font-size: 20px;
    margin: 10px;
}

